header{
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

#search-form{
    padding: 20px;
    display: flex;
}

#history-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#city-input {
    width: 300px; /* Adjust the width value as per your preference */
    height: 45px;
    font-size: 30px;
  }

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#history-list button {
    width: 300px; 
    height: 40px; 
    font-size: 16px; 
    margin: 5px;
}
#weather-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 3;
  }
  
  #current-weather,
  #forecast {
    width: 100%;
    
  }

  #forecast-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .forecast-day {
    width: 150px; /* Adjust the width value as per your preference */
    height: 200px; /* Adjust the height value as per your preference */
    margin-right: 20px; /* Adjust the margin as per your preference */
    margin-bottom: 20px; /* Adjust the margin as per your preference */
    padding: 40px;
    border: black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #current-weather-info{
    border: black solid;
    padding-left: 20px;
  }
  #city-name{
    font-size: 20px;
  }

  #search-history h2{
    text-align: center;
  }